@page "/not-found"

<HorizonLayout AppName="Althes" PageName="Not Found">
    <Body>
        <div class="flex flex-col items-center justify-center gap-4 pt-12">
            <i class="fa-solid fa-circle-xmark text-hz-tribunal text-6xl"></i>
            <HorizonLabelTitle Text="Page not found"/>
            <HorizonLabelText Text="The page you are looking for does not exist."/>
        </div>
    </Body>
</HorizonLayout>

