@page "/firebird/calendar"

@using Armali.Horizon.Segaris.Services

@inject FirebirdService FirebirdService
@inject NavigationManager Nav

<HorizonAuthentication @bind-User="CurrentUser" OnAuthenticated="LoadData" />
<HorizonLayout AppName="Segaris" PageName="Firebird">
    <Sidebar>
    </Sidebar>
    <SidebarBottom>
        <HorizonHeroButton Color="hz-apollo" Icon="fa-people-group" Caption="Table" OnClick="@FirebirdTable" />
        <HorizonHeroButton Color="hz-apollo" Icon="fa-calendar-days" Caption="Calendar" OnClick="@FyrebirdCalendar" />
    </SidebarBottom>
    <Body>
        <HorizonCalendarYear Year="@DateTime.Today.Year"
                             ShowNavigation="false"
                             Entries="@CalendarEntries" />
    </Body>
</HorizonLayout>

@code {
    private string CurrentUser = string.Empty;
    private List<HorizonCalendarEntry> CalendarEntries = [];

    private async Task LoadData()
    {
        var entities = await FirebirdService.GetFirebirdEntities(CurrentUser);
        CalendarEntries = entities
            .Select(e => new HorizonCalendarEntry(e.Birthday.Month, e.Birthday.Day, e.Name))
            .ToList();
    }

    private void FirebirdTable()
    {
        Nav.NavigateTo("/firebird");
    }

    private void FyrebirdCalendar()
    {
        Nav.NavigateTo("/firebird/calendar");
    }
}