@import "tailwindcss";
@config "../tailwind.config.js";

@theme {
    --color-hz-artemisia: oklch(0.9592 0.019253 273.2377);
    --color-hz-arendelle: oklch(0.9753 0.0175 81.33);
    --color-hz-spartan: oklch(0.3386 0.0688 242.63);
    --color-hz-styx: oklch(0.3691 0.0282 248.6);
    --color-hz-gray: oklch(0.4849 0.0163 248.16);
    --color-hz-gray-light: oklch(0.5411 0.0158 248.12);
    --color-hz-opera: oklch(0.5259 0.1577 142.92);
    --color-hz-opera-light: oklch(0.5767 0.1605 143.14);
    --color-hz-tefiti: oklch(0.6283 0.1039 193.18);
    --color-hz-tribunal: oklch(0.4103 0.1595 28.1);
    --color-hz-tribunal-light: oklch(0.453 0.1636 26.79);
    --color-hz-meridian: oklch(0.8613 0.1494 90.99);
    --color-hz-sol: oklch(0.735 0.1483 83.09);
    --color-hz-sol-light: oklch(0.7839 0.154 84.57);
    --color-hz-apollo: oklch(0.5494 0.1152 234.15);
    --color-hz-apollo-light: oklch(0.5973 0.1207 231.21);

    --font-hz-header: "League Spartan Semibold", "League Spartan", sans-serif;
    --font-hz-text: "Nunito Medium", "Nunito", sans-serif;
    --font-hz-special: "Nunito Extrabold", "Nunito", sans-serif;
}

.deep-inner-shadow {
    box-shadow: inset 0px 0px 30px rgba(0, 0, 0, 0.6);
}

/* Remove the little arrows from numeric inputs,
 as Horizon provides UI components with styled controls */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}
