<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <ResourcePreloader/>
    <link href="@Assets["tailwind.css"]" rel="stylesheet" />
    <link rel="stylesheet" href="@Assets["Armali.Horizon.Segaris.styles.css"]"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=League+Spartan:semibold">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Nunito:medium">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Nunito:extrabold">
    <link rel="stylesheet" href="/icons/fontawesome.min.css">
    <link rel="stylesheet" href="/icons/solid.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/moodChart.js"></script>
    <script src="/moodTrendsChart.js"></script>
    <script src="/invItemChart.js"></script>
    <script src="/fileHelpers.js"></script>
    <ImportMap/>
    <HeadOutlet @rendermode="InteractiveServer"/>
</head>

<body>
<Routes @rendermode="InteractiveServer"/>
<script src="@Assets["_framework/blazor.web.js"]"></script>
</body>

</html>