<th class="text-lg font-hz-header">
    <div class="flex items-center justify-center gap-2">
        <span>@Name</span>
    </div>
</th>

@code {
    [Parameter]
    public string Name { get; set; } = "Column";
}