@page "/"
@using Armali.Horizon.Core.Model
@inject NavigationManager Nav

<HorizonAuthentication @bind-Identity="CurrentUser" />
<HorizonLayout AppName="Autoconfig" PageName="@PageTitle">
    <Sidebar>
        
    </Sidebar>
    <SidebarBottom>
        
    </SidebarBottom>
    <Body>
        <div class="grid grid-cols-4 h-[78vh] items-center justify-center content-center">
            <div />
            <HorizonCard Title="Nodes" Image="/images/server.png" OnClick="@Nodes"/>
            <HorizonCard Title="Apps" Image="/images/web-load.png" OnClick="@Apps"/>
        </div>
    </Body>
</HorizonLayout>

@code
{
    private HorizonIdentity? CurrentUser { get; set; }
    private static readonly string Version = System.Reflection.Assembly
        .GetEntryAssembly()?.GetName().Version?.ToString(3) ?? "0.0.0";
    
    private string PageTitle
    {
        get
        {
            var name = CurrentUser?.UserName;
            return string.IsNullOrWhiteSpace(name)
                ? $"v{Version}"
                : $"v{Version} - {name}";
        }
    }
    
    private void Nodes()
    {
        Nav.NavigateTo("/nodes");
    }
    
    private void Apps()
    {
        Nav.NavigateTo("/apps");
    }
}
