<h2 class="font-hz-special text-3xl text-hz-styx justify-self-center text-center"
    style="font-weight: 800;">
    @PageName
</h2>

@code {
    [Parameter]
    public string PageName { get; set; } = "Horizon App";
}