@page "/horizon/login"

@using Armali.Horizon.Blazor.Services
@using Armali.Horizon.Core.Model
@using static Microsoft.AspNetCore.Components.Web.RenderMode

@rendermode InteractiveServer

<HorizonLayout AppName="Horizon Identity" PageName="Login">
    <Sidebar>
        
    </Sidebar>
    <SidebarBottom>
        
    </SidebarBottom>
    <Body>
    
        <div class="fixed inset-0 z-50 flex items-center justify-center p-12">
            <div class="max-h-full max-w-full">
                
                <div class="overflow-hidden grid grid-cols-1">

                    <!-- Main content -->
                    <div class="w-full my-4 p-4">
                        <HorizonLabelTitle Text="Login to Horizon"/>
                        <HorizonInputText Placeholder="Username" @bind-Text="@Username"/>
                        <HorizonInputText Placeholder="Password" @bind-Text="@Password"/>
                    </div>
    
                    <!-- Button bar -->
                    <div class="h-12 p-4 pb-8 flex flex-row items-center justify-center gap-4">
                        <HorizonInlineButton Color="hz-apollo" Icon="fa-right-to-bracket" Caption="Login" OnClick="@Login"/>
                    </div>
                </div>

            </div>
        </div>

    </Body>
</HorizonLayout>

@code {
    [Inject] private HorizonSessionService Storage { get; set; } = default!;
    [Inject] private NavigationManager Nav { get; set; } = default!;
    
    private string Username { get; set; } = string.Empty;
    private string Password { get; set; } = string.Empty;

    protected override Task OnInitializedAsync()
    {
        Console.WriteLine("Initialized login page");
        return Task.CompletedTask;
    }

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        Console.WriteLine("After render login page");
        return Task.CompletedTask;
    }

    private async Task Login()
    {
        // This is a temporary solution
        // until Horizon.Identity does something more real

        if (Username.Equals("carlos"))
        {
            var session = new HorizonIdentity()
            {
                UserId = "carlos",
                UserName = "Carlos",
            };
            
            await Storage.SetItemAsync("Horizon:Session", session);
            Nav.NavigateTo("/");
        }
    }
}